<p id="notice"><%= notice %></p>

<h1><%= @list.title %> (<%= link_to 'Edit', edit_list_path(@list) %>)</h1>
<p>
  <%= @list.summary %>
</p>

<div id="list-items-container">
  <h2>Items</h2>
  <ul id="items-list" class="sortable">
    <%= content_tag_for(:li, @items) do |item| %>
      <%= render 'items/item', :list => @list, :item => item %>
    <% end %>
  </ul>
</div>

<h3>Create a new item</h3>
<%= render 'items/form', :list => @list, :item => @new_item %>
