<header>
  <h1><%= link_to @list.title, @list %></h1>
</header>
<section id="body">
  <p id="notice"><%= notice %></p>
  <p>
    <%= @item.description %>
  </p>

  <%= link_to 'Edit', edit_list_item_path(@list, @item) %> |
  <%= link_to 'Back', @list %>
</section>
