<!DOCTYPE html>
<html>
<head>
  <title>Dlists</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse">
    <nav id="primary-navigation" class="navbar-inner">
      <div class="container">
        <%= link_to 'Dynamic lists', '/', :class => 'brand' %>
        <ul id="main-menu" class="nav">
          <li><%= link_to 'All lists', lists_path %>
        </ul>
      </div>
    </nav>
  </header>
  <header class="page-header">
    <div class="page-header-inner container">
      <%= yield :header %>
    </div>
  </header>
  <section id="body" class="container">
    <div id="body-inner" class="span8 center content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </section>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
    </footer>
  <% end %>
</body>
</html>
